body {
    background-image: url("images/Cullinan_Links_Golf5_dzbj7j.webp");
    font-family: Arial, Helvetica, sans-serif;
}


table {
    width: 90vw;
    text-align: center;
    border:solid;
    background-color:#46a9a4cc;
   
}

td {
    /* border:solid; */
    border-style: collapse;
    background-color: beige;
    padding: .5em;    
}

.underpar {
    background-color: #7cea7c;
}

.par {
    background-color: lightblue;
}

.overpar {
    background-color: #bc3c3c;
}

tr,th {
    padding: 1em;
}

.center {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    
}

.hide {
    display: none;
}

.show {
    display:flex;
    align-items: center;
}

