body {
  background-color: #94b6bd;
  text-align: justify;  
  font-family: 'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
  color: #1e1e1e;
}

p, h2, h3{
  margin: 15px
 } 

 h1{
  text-align: center;
 }

.container {
  position: relative;
  text-align: center;
}

.banner {
  color: #fefefe;
  font-size:6vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


img {
  height: auto;
  width: 100%;
}

.imgbody {
  max-width: 100%;
  height: auto;
  padding-top: 17px;
  padding-bottom: 17px;
}

nav {
position: sticky;
top: 0px;
}

@media screen and (max-width:600px)
{
  .flex-nav, .flex-main {flex-direction: column;}
  td {font-size: .7em;}
}

a {
  color: aliceblue;
  text-decoration: none;
}

/* override user agent styling */
ul{
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  
}

.flex-nav {
  display: flex;
  background-color: black;
  width: 100%;
  /* position: absolute; stop hover moving content */
  }

.flex-nav > li {
  background-color: black;
  color: aliceblue;
  width: 100%;
  height:auto;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.2em;
  display: inline;
  padding-top: 10px; 
  padding-bottom:10px;
}

.flex-nav > li > a:hover {
  font-size: 1.5em;
  transition-duration: 250ms;
}

.flex-main {
  display: flex;
  background-color: black;
}

.flex-main > div {
  background-color: #776a6a;
  color: aliceblue;
  /* padding: 5px; */
  line-height: 1.5em;
  font-size: 1em;
  width: 100%;
  }

 footer {
  font-size: small;
  background-color: #776a6a;
 }

 
 tr,td, th {
  border: 1px;
  border-style:inset;
  padding: 5px;
  /* width: 20%; */
  border-color: black;
  text-align: left;
 }

 caption {
  font-size: 25px;
  padding: 10px;
 }
table {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

.video {
  aspect-ratio: 16/9;
  max-width: 960px;
  padding-bottom: 20px;
  border: none;
}

.logo {
  width:32px;
  padding: 30px;
  position: relative;
}

.logotop {
  width:32px;
  padding: 30px;
  position: absolute;
}

.spotify {
  
}


